.pro-inputs{
    margin-top: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 1fr 3fr;
}
#pro-year{
    width: 85%;
}
.month-year{
    display: flex;
    
    align-items: center;
}
/*Custom Remove Button*/
.removepro1{
    color: #DC1C13;
    background-color: transparent; 
    border: 2px solid #DC1C13; 
    border-radius: 5px; 
    text-transform: uppercase;
    }
.month-year div{
    width: 40%;
    margin-right: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.month-year div input{
  width: 45%;
}
.month-year label{
    margin-right: 0;
}

.pro-input-group{
    width: 60%;
    position: relative;
}
.pro-input-group > input{
    width: 100%;
    background-color: var(--grey-shade-two);
    font-size: 1.7rem;
    border-width: 0rem;
    border-radius: 0.5rem;
    padding:1rem 2rem;
    margin-left: 2rem;
    color: white;
}
#pro-header{
    font-size: 2.5rem;
    font-weight: 500;
}
.pro-input-group svg{
    position: absolute;
    right: -1%;
    top:50%;
    transform: translateY(-50%);
    
}
#skill-limit{
    display: block;
    margin-left: 2rem;
    font-size: 1.4rem;
    color: var(--grey-shade-six);
    margin-top: 1rem;
}
.pro-skill-container{
    margin: 2.5rem 2rem;
}
.pro-skill-container > span{
    display: block;
    font-size: 1.5rem;
    color: var(--grey-shade-six);
    margin-bottom: 2rem;
    margin-left: 1rem;
} 
.pro-pill-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.pro-skill-pill{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    padding:1rem 5rem;
    background-color: var(--blue-light);
    border-radius: 4rem;
    margin-right: 0.2rem;
    cursor: pointer;
}
#skillpillname{
    font-size: 1.5rem;
    color:white;
    text-align: center;
}
#skillpillcross{
    padding-right: 0px;
    color: white;
    font-size: 15px;
    margin-left: 4.5rem;
    margin-right: -2em;
}
#square-check{
    position: absolute;
    color: #D5D5D5;
    display: flex;
    right: -22%;
}
#square-check span{
    font-size: 1.4rem;
    margin-left: 0.5rem;
}
@media only screen and (max-width: 600px) {
    .pro-inputs{
        margin-top: 0rem;
    }
    .pro-inputs *{
        margin-bottom: 0.5rem;
    }
    #pro-year{
        width: 100%;
    }
    .month-year{
        display: grid;
        /* grid-template-columns: 1fr; */
        align-self: center;
        margin: 0;
        align-items: center;
    }
    .month-year div{
        width: 60%;
        position: relative;
        margin: 0;
    }
    #education-yaer-text{
        position: absolute;
        right: -2rem;
    }
    #pro-header{
        font-size: 2rem;
    }
    .pro-input-group{
        width: 95%;
        margin: 0rem auto;
    }
    .pro-input-group > input{
        margin: 0 auto;
        font-size: 1.3rem;
    }
    .pro-input-group svg{
        right: 1rem;
    } 
    #skill-limit{
        margin-top: 0.8rem;
        font-size: 1.2rem;
    }
    .pro-skill-container > span{
        font-size: 1.2rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
        margin-left: 1.5rem;
    }
    .pro-pill-container{
        gap:0.8rem;
    }
    .pro-skill-container {
        margin: 1rem 1rem;
    }
    .pro-skill-pill{
        padding: 1rem 1.5rem;
    }
    .pro-skill-pill span{
        font-size: 1.1rem;
    }
    .pro-skill-pill > svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
    }
    #square-check{
        
        align-items: center;
        left: 30%;
        bottom: -3.5rem;

    }
    #square-check span{
        font-size: 1.2rem;
        margin-left: 0.5rem;
    }
    #pro-org{
        margin-top: 3.5rem;
    }
}